# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
.vscode/
.idea/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
dist
[Bb]in/
[Oo]bj/
[Ll]og/
[Tt]emp/
XvalidatR_*.zip
*.zip

# Visual Studio 2015 cache/options directory
.vs/
